body {
    height: 920px;
    width: 100vw;
    background-image: url(../../assets/Patas.png), url(../../assets/imgTop.svg);
    background-repeat: no-repeat;
    background-position: top right, top left;
}

.lateral {
    position: absolute;
    width: 85px;
    height: 420px;
    background-image: url(../../assets/imgEsquerda.png);
    background-repeat: no-repeat;
    left: 0;
    top: 60%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    
}

main p {
    color: #3772FF;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

input {
    padding: 0.7rem;
    background-color: #F6F6F6;
    width: 90vw;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

main a {
    color: #FC7071;
}

label {
    color: #737380;
}

.logoTitulo {
    width: 50%;
    margin-top: 2rem;
}

button {
    background-color: #FC7071;
    border: none;
    color: white;
    padding: 0.6rem;
    border-radius: 6px;
    width: 40%;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

button:hover {
    background-color: #ff9d9e;
}