body {
    background-image: url(/assets/Patas.png), url(/assets/imgTop.svg);
    background-repeat: no-repeat;
    background-position: top right, top left;
}
.logo {
    display: none;
}

.navHeader {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(/assets/imgTablet/Patas.svg), url(/assets/imgTablet/imgTop.svg);
        background-repeat: no-repeat;
        background-position: top right, top left;
    }

    .logo, .usuario {
        display: block;
    }

    .icons {
        gap: 3rem;
    }
}