.logo {
    display: none;
}

.navHeader {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #36D6AD;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
}

.usuario {
    
}

@media screen and (min-width: 768px) {
    .logo, .usuario {
        display: block;
    }
}