header {
    background-image: url(/assets/imgTop.svg);
    background-repeat: no-repeat;
}

.logo {
    display: none;
}

.navHeader {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
}

@media screen and (min-width: 768px) {
    header {
        background-image: url(/assets/imgTablet/imgTop.svg);
        background-repeat: no-repeat;
    }

    .logo, .usuario {
        display: block;
    }

    .icons {
        gap: 3rem;
    }
}