body {
    background-image: url(/assets/imgTop.svg);
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textoInicial {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: #3772FF;
    margin-bottom: 2rem;
}

.cards {
    padding: 1rem;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nome {
    font-weight: 600;
    color: #3772FF;
    margin-bottom: 0.5rem;
}

.descricao {
    font-size: 0.8rem;
    color: #737380;
}

.estado {
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.responsavel {
    color: #737380;
    text-decoration: none;
    font-size: 0.6rem; 
}

.responsavel::before {
    content: url(/assets/ícone\ mensagem.svg);
    margin-right: 0.5rem;
    vertical-align: text-top;  
}

@media screen and (min-width:768px) {
    body {
        max-width: 100vw;
        background-image: url(/assets/imgTablet/imgTop.svg);
    }

    main {
        margin-top: 4rem;
    }

    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
    }
    
    .textoInicial {
        font-size: 1.2rem;
    }

    .cards {
        margin: 0 auto;
        width: 47%;
    }

    .cards:last-child {
        background-color: white;
    }
}

@media screen and (min-width:1440px) {
    body {
        background-image:url(/assets/imgTablet/imgTop.svg), url(/assets/imgTablet/imgDireita.svg);
        background-position: top left, right;
    }

    .cardContainer {
        width: 80vw;
        margin: 0 auto;
    }
    
    .cards {
        width: 30%;
    }

    .lastCard {
        display: none;
    }
}



