body {
    background-image: url(/assets/imgTop.svg);
    background-repeat: no-repeat;
}

main {
    padding: 1rem;
}

.textoInicial {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    color: #3772FF;
    margin-bottom: 1.5rem;
}