body {
    background-image: url(/assets/imgTop.svg);
    background-repeat: no-repeat;
}

.iconUsuario {
    width: 2.5rem;
}

main {
    padding: 1.5rem;
}

.textoInicial {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: #3772FF;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.6rem;
    color: #737380;
    text-align: center;
    margin-bottom: 1rem;
}

.fotoUsuario {
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.textoFoto {
    text-align: center;
    color: #FC7071;
    font-size: 0.8rem;
}